extends layout

block content
  .container
    .row
      .col-md-offset-4.col-md-4
        .row
          //- .col-md-12
          img.cover(src='/img/cover1.png')

          .col-md-12(style='text-align:center')
            img.next(src='/img/next.png')

          img.cover(src='/img/cover2.png')

          .col-md-12(style='text-align:center')
            img.next(src='/img/next.png')

          .col-md-12.page
            h1 LET'S 装逼
            h4: small 七牛图片水印 Demo
            h4 一直以来梦想着可以认识喜欢点赞的妹子供我装逼，因此，我实现了这个利器。装逼犯们，哥只能帮你们到这了。
            .tmpl-wrapper
              button#temp1.load-tmpl.btn.btn-info.btn-lg.btn-block 春节度假版
              button#temp2.load-tmpl.btn.btn-info.btn-lg.btn-block 春晚吐槽版
              button#temp3.load-tmpl.btn.btn-info.btn-lg.btn-block 土豪红包版
              button#temp4.load-tmpl.btn.btn-info.btn-lg.btn-block 男神菊花版
              button#tempempty.load-tmpl.btn.btn-info.btn-lg.btn-block 天马行空（自定义）

          .col-md-12(style='text-align:center')
            img.next(src='/img/next.png')

          .col-md-12.page#step1
            h4 第一步，设置昵称：
            .row
              .col-md-12.form-group
                input#name.form-control(placeholder='七牛云存储', value='')
              #upload-wrapper-1.col-xs-8.form-group
                button#uploadAvatar.btn.btn-info.btn-lg.btn-block 上传头像
                #progess-1
                #error-1
              img#avatar-preview.avatar-preview.col-xs-4(src='http://zhuangbility.qiniudn.com/default_avatar.jpg-ava')

          //- .col-md-12(style='text-align:center')
          //-   img.next(src='/img/next.png')

          .col-md-12.page#step2
            h4 第二步，发表文字:
            .row
              .col-md-12.form-group
                textarea#post.form-control(placeholder='七牛云存储是世界上最好的云存储', row='5', value='')
              #upload-wrapper-2.col-md-12.form-group
                button#uploadPhoto.btn.btn-info.btn-lg.btn-block 上传照片
                #progess-2
                #error-2
              .col-md-12.photo-preview-wrapper
                p.info-text(style='color:white') 预览：
                img#photo-preview.photo-preview.col-xs-12

          //- .col-md-12(style='text-align:center')
          //-   img.next(src='/img/next.png')

          .col-md-12.page#step3
            h4 第三步，设置点赞人员:
            #likes.likes.row
              - for (var i = 0; i < 4; i++)
                .form-group.col-xs-6
                  input.like.form-control(placeholder='姓名')
            button#add-like.btn.btn-default.col-xs-6.btn-block(type='button'): strong +

          //- .col-md-12(style='text-align:center')
          //-   img.next(src='/img/next.png')

          .col-md-12.page#step4
            h4 第四步，设置评论:
            #comments.comments
              - for (var i = 0; i < 3; i++)
                .comment.form-group
                  .row
                    .col-xs-6
                      input.namea.form-control(placeholder='姓名1')
                    .col-xs-6
                      input.nameb.form-control(placeholder='姓名2')
                    .col-xs-12
                      input.msg.form-control(placeholder='评论')
            button#add-comment.btn.btn-default.btn-block(type='button'): strong +

          .col-md-12(style='text-align:center')
            img.next(src='/img/next.png')

          .col-md-12.page#step5
            button#btn.btn.btn-success.btn-lg.btn-block 准备好了吗？点我开始装B！
            .waiting-wrapper
              h2(style='color:white, text-align:center') 正在装B的道路上前进...请耐心等待...
            .result-wrapper
              h2 恭喜你，装逼成功！
              p(style='color:white')
                //- a#download.btn.btn-info.btn-sm 下载原图
                //- | 点击“下载原图”的按钮，将装逼图分享到朋友圈，完成人生巅峰的事情就在此刻～
                | 长按图片保存，并将装逼图分享到朋友圈，完成人生巅峰的事情就在此刻～
              img#demo.col-xs-10(src='')

//- block content
//-   .phone-view
//-     .page#page1
//-       img.cover(src='/img/cover1.png')
//-     .page#page2
//-       img.cover(src='/img/cover2.png')
//-     .page#page3
//-       h4 请选择装逼场景
//-       button#load.btn.btn-primary 春节度假装逼版
//-       button#load.btn.btn-primary 春晚吐槽装逼版
//-       button#load.btn.btn-primary 土豪红包装逼版
//-     .page#page4
//-       h4 请选择装逼场景2
//-     .page#page5
//-       h4 请选择装逼场景3
//-     .page#page6
//-       h4 请选择装逼场景4
