extends layout

block content
  h1= title
  p Welcome to #{title}
  label name:
    input#name(value='')
  br
  #upload-wrapper-1
    button#uploadAvatar upload avatar
    #progess-1
    #error-1
  label post:
    input#post(value='')
  br
  #upload-wrapper-2
    button#uploadPhoto upload photo
    #progess-2
    #error-2

  .likes
    p likes:
    - for (var i = 0; i < 16; i++)
      input.like

  .comments
    p comments
    - for (var i = 0; i < 16; i++)
      .comment
        span name1:
        input.namea
        span name2:
        input.nameb
        span msg:
        input.msg

  button#btn Let's ZhuangB!
  button#load load
  img#demo(src='', style='border:2px solid grey')
