doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://localhost:35729/livereload.js')
    script(src='http://cdn.staticfile.org/jquery/1.9.1/jquery.min.js')
    script(src='components/plupload/plupload.full.min.js')
    script(src='components/plupload/i18n/zh_CN.js')
  body
    block content

    footer
        script(scr='/js/qiniu.js')
        script(src='/js/ui.js')
        script(src='/js/index.js')
