doctype 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    script(src='http://localhost:35729/livereload.js')
    script(src='http://cdn.staticfile.org/jquery/1.9.1/jquery.min.js')
    script(src='/components/plupload/plupload.full.min.js')
    script(src='/components/plupload/i18n/zh_CN.js')
  body
    block content

  footer
    script(src='/js/index.js')
