body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: url(../img/web-bg.png);*/
  background-color: #3971c0 !important;
  padding-bottom: 50px;
}

a {
  color: #00B7FF;
}
h1,h2,h3,h4 {
  color: #66ccff !important;
}
.container {
    background-color: #3971c0;
}
.col-md-12.page {
    min-height: 200px;
}
.tmpl-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}
.load-tmpl {
    margin-top: 30px !important;
}
.comment .msg {
    margin-top: 12px;
    margin-bottom: 10px;
}
.photo-preview-wrapper {
    display: none;
}
.cover {
    height: 100%;
    width: 100%;
    border: 0px;
}
.result-wrapper, .waiting-wrapper {
    display: none;
}
#post {
    min-height: 120px;
}
#add-like {
    margin-bottom: 28px;
}
#btn {
    margin-top: 30px;
    margin-bottom: 60px;
}
#download {
    margin-right: 20px;
}
.next {
  margin: 40px 20px;
}
